name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, metadata
          repositories_affiliations: owner, collaborator
          plugin_languages: yes
          plugin_languages_threshold: 2%                               # Hides all languages less than 2%
          plugin_isocalendar: yes
